In [12]:
import pandas as pd
df=pd.DataFrame([[9,4,.8,9],
                 [8,10,7,6],
                 [7,6,8,5]],
                columns=['maths','english','science','histroy'])
print(df)
df.agg(['sum','min','max','mean','median','std','count','size'])

   maths  english  science  histroy
0      9        4      0.8        9
1      8       10      7.0        6
2      7        6      8.0        5

        maths    english    science    histroy
sum      24.0  20.000000  15.800000  20.000000
min       7.0   4.000000   0.800000   5.000000
max       9.0  10.000000   8.000000   9.000000
mean      8.0   6.666667   5.266667   6.666667
median    8.0   6.000000   7.000000   6.000000
std       1.0   3.055050   3.900427   2.081666
count     3.0   3.000000   3.000000   3.000000
size      3.0   3.000000   3.000000   3.000000